<configuration>

      <system.webServer>

            <staticContent>

                   <remove fileExtension=".json"/>

                   <mimeMap fileExtension=".json" mimeType="application/json; charset=UTF-8"/>

                   <remove fileExtension=".unityweb"/>
                   <mimeMap fileExtension=".unityweb" mimeType="application/octet-stream"/>
				   
				   <remove fileExtension=".wasm.code.unityweb"/>
                   <mimeMap fileExtension=".wasm.code.unityweb" mimeType="application/wasm"/>
				   
				   <remove fileExtension=".wasm.framework.unityweb"/>
                   <mimeMap fileExtension=".wasm.framework.unityweb" mimeType="application/javascript"/>

            </staticContent>
          
             <httpProtocol>
     <customHeaders>
         <add name="Access-Control-Allow-Origin" value="*" />
         <add name="Access-Control-Allow-Methods" value="*" />
         <add name="Access-Control-Allow-Headers" value="*" />
         <add name="Access-Control-Allow-Credentials" value="true" />         
     </customHeaders>
   </httpProtocol>

      </system.webServer>

      <system.web>

            <compilation debug="true"/></system.web>

</configuration>